*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.hero{
    width:100%;
    min-height:100vh;
    background-color: rgb(1, 1, 43) ;
    color: #fff;
    position: relative;
}
.hero h2{
    text-align: center;
    position: absolute;
    top:15%;
    left:45%;
}
.container{
    width: 800px;
    height:200px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 0, 102, 0.822);
}
.clock{
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px);
}
.container::before{
    content: '';
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 30%;
    position: absolute;
    top:-30px;
    left:-30px;
    z-index: -1;
}
.container::after{
    content: '';
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 30%;
    position: absolute;
    right:-30px;
    bottom:-30px;
    z-index: -1;
}
.clock span{
    font-size: 80px;
    width: 80px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    font-size: 16px;
    position:absolute;
    bottom: -5px;
    left: 50%;
    transform:translateX(-50%);
}
#hrs::after{
    content:'HOURS';
    line-height: 1px;
}
#mins::after{
    content:'MINUTES';
    line-height: 1px;
}
#sec::after{
    content:'SECONDS';
    line-height: 1px;
}
